<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="unit">
			<directory suffix=".php">./tests/unit/</directory>
		</testsuite>
	</testsuites>
	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
	</logging>
	<filter>
	  	<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
    <php>
        <env name="WP_PHPUNIT__TESTS_CONFIG" value="tests/wp-config.php" />
        <env name="WP_PHPUNIT__TABLE_PREFIX" value="tests_" />
    </php>
</phpunit>
